@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
}

header {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 1rem 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  margin: 0;
  padding: 1rem 0;
  position: relative;
  width: 100%;
  bottom: 0;
  /* z-index: 1000; */
}

main {
  width: 100%;
  padding-inline: 100px;
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  margin: 1rem;
  max-width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
}

.card img {
  max-width: 100%;
  height: 250px;
}

.card .description {
  padding: 1rem;
}

.card .description h5 {
  color:rgb(114, 114, 114);
  margin-bottom: 1rem;
}

.card .description h2{
  margin-bottom: 0.3rem;
}

.card .description p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 1rem;
}

.read-more {
  width: fit-content;
  height: fit-content;
  font-size:0.75rem;
  padding: 3px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.card .close-button {
  display: none;
}

.card.expanded {
  width: 100%;
  max-width: none;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.card.expanded img {
  max-width: 40%;
  height: auto;
  margin-right: 1rem;
}

.card.expanded .close-button {
  display: block;
  font-size:1rem;
  padding: 3px;
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.card.expanded .description {
    text-align: left;
}

.card.expanded .description p{
  display: block;
  -webkit-line-clamp: unset;
}
.card.expanded .read-more {
    display: none;
}
@media screen and (max-width: 992px) {
  main {
    padding-inline: 10px;
  }
  .card.expanded {
    flex-direction: column;
  }
  .card.expanded img {
    max-width: 100%;
    margin-right: 0;
  }
}